name: Reusable Deploy
on: 
    workflow_call:
        inputs:
            artifact-name:
                description: O artefato
                required: true
                type: string
                default: dist-file

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              uses: actions/download-artifact@v4
              with:
                name: ${{ inputs.artifact-name }}
            - name: List files
              run: ls
            - name: Output information
              run: echo "Deploying and uploading..."
